/*Tablet*/
/*Estilos para pc*/
@media (min-width: 768px) {
    html {
        scroll-behavior: smooth;
    }

    i{
        font-size: 3rem;
    }

    /* Menú */
    .menu {
        padding: 1rem 5rem;
    }

    .menu__title {
        font-size: 1rem;
    }

    .menu__header_icon {
        font-size: 2rem;
    }

    .menu__list {
        display: flex;
        gap: 1.5rem;
    }

    .menu__list__item {
        font-size: 1rem;
        display: block;
    }

    /*title*/
    .title__div {
        padding: 1rem 5rem;
    }

    .title__bio {
        font-size: 3.25rem;
    }

    .title__subsection {
        font-size: 1.375rem;
    }

    .title_photo {
        width: 23rem;
        height: 23rem;
    }

    /*Abaout Me*/
    section.about {
        padding: 5rem;
    }

    .about__container {
        width: 70%;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__paragraph {
        font-size: 1rem;
        line-height: 2;
    }

    /*Skills and hobbies*/
    .skills,
    .hobbies {
        padding: 1rem 5rem;
    }

    .skills__line,
    .hobbies__line {
        display: flex;
        gap: 1rem;
    }

    .skills__box,
    .hobbies__box {
        flex: 1;
    }

    /*Formación Académica*/

    section.academic {
        padding: 1rem 5rem;
    }

    .academic__title {
        padding: 1rem;
    }

    .academic__courses__item__img img {
        height: 18rem;
    }

    /*Experiencia Profesional*/

    section.experience {
        padding: 1rem 5rem;
    }

    .experience__section__title {
        font-size: 2rem;
    }

    .experiencie__box {
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 1rem
    }

    .experience__img {
        height: 30rem;
        width: 70%;
    }

    .experiencie__box__invert {
        justify-content: space-around;
    }

    .experiencie__box__invert .experience__img {
        order: 1;
    }

    .experience__title {
        font-size: 1.5rem;
    }

    .experience__text {
        font-size: 1.2rem;
    }

    /*Contacto*/
    section.formcontato {
        padding: 1rem 5rem;
    }

    .contact__form {
        display: flex;
        gap: 1rem;
    }

    .contact__form__left__side {
        display: block;
    }

    .contact__form__right__side h2 {
        font-size: 2rem;
    }

    .contact__form__right__side h3 {
        font-size: 1.2rem;
    }

    /*Form*/
    .contact__form__input,
    .contact__form__textarea {
        padding: 1rem;
        font-size: 1rem;
    }
}